# This is Git's per-user configuration file.
[user]
	name = Pratham82
	email = prathamesh.mali@mosaicwellness.in
# Please adapt and uncomment the following lines:
#	name = Prathamesh Mali
#	email = pratham82@Prathameshs-Laptop.local
